html, body, .fullHeight {
    max-height: 100% important;
    height: 100%;
}

#addInventory:hover{
    text-shadow: 0px 0px 5px red;
    cursor:pointer;
}

.inventory:hover{
    cursor:pointer;
    background-color:rgb(226, 226, 226);
}

.inventory{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}